* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 138, 255);
}

header {
  background-color: whitesmoke;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: end;
  align-content: center;
}

ul li {
  margin-right: 2rem;
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.link-item {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* toggle class = important*/

.nav-header {
  padding: 0;
}
.nav-toggle {
  display: none;
}

/* MEDIA */

@media (max-width: 768px) {
  /* CON ESTO MOSTRAMOS EL BTN */
  .nav-toggle {
    display: block;
  }

  nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
  }
  /* Con esto se apila todo */
  .nav-center {
    display: block;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
  }
  .links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
  }
  .links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    display: block;
  }
  /* IMPORTANTE: Le damos altura a los links para que se muestren */
  .show-links {
    height: 10rem;
  }
  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}
